/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-y: auto; 
    overflow-x: hidden
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(185, 189, 186, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

h1 {
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0c9153;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0c9153; /* Mantém a cor ao passar o mouse (pode ajustar se quiser efeito) */
}

.backButton {
    background-color: #888888; /* Cinza para diferenciar */
}

.backButton:hover {
    background-color: #666666;
}

.author-signature {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #666;
    opacity: 0.7;
}

.author-signature:hover {
    opacity: 1;
}

/* Tela de carregamento (index.html) */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.1s ease-out;
}

#loading-image-1, #loading-image-2 {
    max-width: 50%;
    position: absolute;
    opacity: 0;
}

#loading-image-1 {
    animation: fadeIn 2s ease-in forwards;
}

#loading-image-2 {
    animation: fadeIn 5s ease-in 2s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Estilos específicos do index.html */
#system-options button {
    display: block;
    width: 50%;
    margin: 10px auto;
}

#loginMessage {
    margin-top: 10px;
    color: #666;
}

/* Estilos de tabelas (usado em Comparador e Escanear) */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #0c9153;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Spinner (usado em Comparador e Escanear) */
.spinner {
    display: none;
    border: 4px solid #ecf0ed;
    border-top: 4px solid #0c9153;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilos específicos do Escanear */
.refreshButton {
    background-color: #546c8f;
}

/* Estilos específicos do Localizador */
.result-container {
    margin-top: 20px;
}
